[Unit]
Description=nfdump to clickhouse converter

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=<INSERT PWD>/nfdump2clickhouse
ExecStart=<INSERT PWD>/nfdump2clickhouse/venv/bin/python nfdump2clickhouse.py -c nfdump2clickhouse.conf --debug

[Install]
WantedBy=multi-user.target