[Unit]
Description=nfdump to clickhouse converter

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=$PWD
ExecStart=$PWD/venv/bin/python nfdump2clickhouse.py -c /usr/local/etc/nfdump2clickhouse.conf --debug

[Install]
WantedBy=multi-user.target